<div class="container mt-4">
  <h1>
    <% if @task.completed == true%>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
    <%= @task.title %>
  </h1>
  <p><%= @task.details %></p>
  <ul class="list-unstyled">
    <li><%= link_to "Edit this task", edit_task_path(@task), :class => "btn btn-primary m-1" %></li>
    <li><%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn btn-danger m-1" %></li>
    <li><%= link_to "Go back to task list", tasks_path(), :class => "btn btn-success m-1" %></li>
  </ul>
</div>
